<header>
  <nav>
    <table class="navigator">
      <tr>
        <td>Me</td>
        <td>About</td>
      </tr>
      <tr>
        <td>Work</td>
          <td>
            Tech
            <ul>
              <li>Stack Overflow</li>
              <li>Bento</li>
              <li>Descartes</li>
            </ul>
          </td>
      </tr>
      <tr>
        <td>Essays</td>
      </tr>
    </table>
  </nav>
</header>

<!--
Stack Overflow
Bento
Descartes
Out in Tech
Beyond Coding
g.io

Tuesday Dinner
Cocktails
Crossfit
Essays
Social
Travel

PAST

Deloitte Digital
GBC/AGFF
New York University
Tech@NYU
Hackathons

TOPICS

Tech
Education
Diversity
Personal (food/drink, body, travel, writing)

AREAS

Engineering
Marketing
Product
Startups
Leadership
Philosophy
Cuisine
-->