---
layout: default
---
<div class="post">
	<nav class="progress-bar">
		<div></div>
	</nav>
	
	<div class="essay-nav">
		<div class="meta">
			<div class="row">
				<div class="col4">
					<h1>{{ page.title }}</h1>
					<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
				</div>
				<div class="col4">
				&nbsp;
				</div>
				<div class="col4 social">
					<a href="http://twitter.com/intent/tweet?text={{page.title}} by @jonhmchan {{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
					<!--<a href="http://www.facebook.com/sharer.php?u={{page.title | replace: ' ', '%20' | replace: '&', '%26' | replace: '?', '%3F' | replace: '!', '%21' | replace: ',', '%2C' | replace: "'", "%27"}}%20by%20Jon%20Chan%20{{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>-->
				</div>
			</div>
		</div>
	</div>
	

  	<header data-background="{{ page.hero }}" data-background-position="{{ page.position }}" data-opacity="{{ page.opacity }}">
  		<div class="wrapper title">
  			<p class="heading">Essay</p>
	    	<h1>{{ page.title }}</h1>
	    	<p>{{ page.description }}</p>
    	</div>
    	<div class="scroll">Scroll down<br/><i class="fa fa-caret-down"></i></div>
  	</header>

  	<div class="wrapper">
	  	<article>
	    	{{ content }}
	  	</article>
  	</div>

  	<div class="wrapper">
  		<div class="related">

  		</div>
  	</div>
</div>

{% include footer.html %}